*{
  margin: 0;
  padding:0;
}

.main{
  min-height: 300px;
  width: min(100%, 400px);
  height: 100%;
  border: 1px solid black;
}

.character{
  position: relative;
  top: 250px;
  min-height: 50px;
  width: 20px;
  height: 100%;
  border: 1px solid black;
  background-color: grey;
}

.enemy{
  position: absolute;
  top: 250px;
  left: 380px;
  width: 20px;
  height: 50px;
  border: 1px solid grey;
  background-color: "white";
  z-index: 2;
 
}
.attackBtnDiv{
  width: 400px;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.jumpAnimate{
  animation: jump 1s linear;
}

.jumpAnimateEnemy{
 animation: enemyJump 1s linear;
}

@keyframes enemyJump{
  0%{top: 250px;}
  30%{top: 200px;}
  50%{top: 190px;}
  100%{top: 250px;}
}

@keyframes jump{
  0%{top: 250px;}
  30%{top: 200px;}
  50%{top: 190px;}
  100%{top: 250px;}
}

.playerBullet{
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: black;
  top: 270px;
  animation: bulletShoot 1s linear;
  z-index: -1;
}

@keyframes bulletShoot{
  0%{left: 3vw;}
  100%{left: 400px;}
}
